$fontRegular: 'Roboto', sans-serif;
$fontSemiBold: 'Roboto', sans-serif;
$fontBold: 'Roboto', sans-serif;
$fontExtraBold: 'Roboto', sans-serif;

$weightRegular: 400;
$weightSemiBold: 500;
$weightBold: 700;
$weightExtraBold: 900;

$neutral: #3d3d3d;
$lighter: #808080;
$secondary: #4fb0ae;
$error: #FD5653;
$white: #FFFFFF;

$widthWrapper: 748px;