@import "~common/styles/responsive";

.container {
  position: relative;
}

.counter {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100%;
  padding-right: 8px;
  height: 100%;
}
