@import '~common/styles/responsive';
@import '~common/styles/variables';

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.9);
  min-height: 60px;
}

.wrapper {
  padding: 16px 24px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  @include md {
    width: $widthWrapper;
  }
}
